body{
  margin: 0;
  padding: 0;
  font-family:"PT Sans", "Arial", sans-serif;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: normal;
  background-color: #f2f2f2;


  width: 1280px;
  min-height: 2762px;


}
h1{
  font-family:"PT Sans", "Arial", sans-serif;
  font-size: 78px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: bold;
}
h2{
  font-family:"PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: bold;
}


/*сетка header*/
header .container{
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  background-color: #ffffff;
}
.container div{
  display: inline-block;
}
.container .logo{
  position: absolute;
  z-index: 100;
  left: 530px;
  width: 138px;
  text-align: center;
}
.container .logo {
  display: inline-block;
  border: 69px solid #ffffff;
  border-top-color: #0074d9;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;


  width: 0px;
}
.container .logo .logo-image{
  position: absolute;
  top: -69px;
  right:-35px;
  z-index: 100;
}
.container .logo .logo-background{
  position: absolute;
  z-index: 0;
  top: -69px;
  right: -70px
}

.navigation ul{
  width: 530px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li{
  display: inline;
}
.navigation a{
  display: inline-block;
  padding-top: 22px;
  width: 239px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.navigation:last-child{
  margin-left: 135px;
}
/*сетка main*/

main .container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-header{
  min-height: 512px;
  width: 1200px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 115px;
  background-color: #2ecc71;
  background-image: url(" ../img/MainImg.png");
  background-position: 0% 10%;
  background-repeat: no-repeat;
}
.angles{
  position: relative;;
  bottom: -340px;
  z-index: 100;
}
.features-block-header{
  min-height: 217px;
  width: 1200px;
  text-align: center;
  background-color: #ffffff;


}
.features-block-header h2{
  display: inline-block;
  margin-top: 66px;
  width: 635px;
  color: black;

}
.features-block-header p{
  display: inline-block;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 1200px;
}
/*1 преимущество*/
.feature1{
  position: relative;
  font-size: 0px;
}
.feature1-promo{
  position: absolute;
  font-size: 16px;
  display: inline-block;
  width: 400px;
  padding-top: 53px;
  padding-bottom: 56px;
  height: 256px;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
}
.feature1-promo h3{
  display: inline-block;
  font-size: 20px;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;

}

.feature1-promo p{
  display: block;
  margin-top: 0px;
  font-size: 12px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.feature1-picture{
  margin-left: 400px;
  min-height: 256px;
}
.feature1-picture .feature1-image{
  min-height: 257px;
  width: 801px;
}
/*домик*/
.feature2-4-container{
  position: relative;
  top: -4px;
  font-size: 0px;
  width: 1200px;
  min-height: 330px;
  background-color: #ffffff;
  vertical-align: bottom;
}
.feature2{
  position: absolute;
  font-size: 16px;
  width: 399px;
  min-height: 330px;

  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
  background-color: #ffffff;
}
.feature2 p{
  width: 254px;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.feature3{
  position: absolute;
  left: 400px;
  font-size: 16px;
  width: 399px;
  min-height: 330px;

  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
  background-color: #ffffff;
}
.feature3 p{
  width: 284px;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.feature4{
  position: absolute;
  left: 800px;
  font-size: 16px;
  width: 399px;
  min-height: 330px;

  text-align: center;
  box-sizing: border-box;
  padding-top: 55px;
  background-color: #ffffff;
}
.feature4 p{
  width: 284px;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
/*мост дьявола*/
.feature5{
  position: relative;
  top:-5px;
  font-size: 0px;
  width: 1200px;
  min-height: 256px;
  vertical-align: bottom;
}
.feature5 .feature1-promo{
  position: absolute;
  left: 800px;
  box-sizing: border-box;
  padding-top: 57px;
}
.feature5 h3{
  display: block;
  width: 165px;
  font-size: 20px;
}
.feature5-picture{
  position: absolute;
  left: 0px;
  min-height: 257px;
  width: 801px;
  flex-grow: 2;
    order: -2;
}
/*преимущества 3-5*/
.feature-gray-container{
  position: relative;
  font-size: 0px;
  width: 1200px;
  min-height: 256px;
  vertical-align: bottom;
  background-color: #eeeeee;
}
.feature-gray{
  box-sizing: border-box;
  padding-top: 40px;
}
.feature-gray h3{
  width: 123px;
  margin-left: auto;
  margin-right: auto;
}
.feature-gray p{
  font-size: 13px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}
.feature6{
  position: absolute;
  left: 0px;
  font-size: 16px;
  width: 399px;
  min-height: 256px;
  text-align: center;
}
.feature7{
  position: absolute;
  left: 400px;
  font-size: 16px;
  width: 399px;
  min-height: 256px;
  text-align: center;
}
.feature8{
  position: absolute;
  left: 800px;
  font-size: 16px;
  width: 399px;
  min-height: 256px;
  text-align: center;
}
/*карта и форма*/
.hostle{
  padding-top: 0px;
  position: relative;
  width: 1200px;
  min-height: 766px;

  text-align: center;
  box-sizing: content-box;
  background-color: #ffffff;
}
.hostle-intro{
  padding-top:58px;
  min-height: 291px;
  box-sizing: border-box;
}
.hostle h2{
  color: black;
  font-size: 24px;
  margin-bottom: 32px;
}
.hostle p{
  font-size: 12px;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}
.map-container{
  display: inline-block;
  min-height:477px;
  margin-bottom: -5px;

}
.map-container img{
  min-height:477px;
}
.hostle-search-form{
  position: absolute;
  background-color: white;
  z-index: 100;
  width: 568px;
  min-height: 484px;

  left: 312px;
  bottom: 180px;
  text-align: left;
}
.form-header{
  display: inline-block;

  width: 100%;
  background-color: #766357;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 56px;
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.in-date-label{

  display: inline-block;
  text-align: left;
  width: 100%;
  padding-left: 55px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.in-date-label p{

  display: inline-block;
  width: 93px;
  font-size: 11px;
  font-weight: bold;

}
.in-date-label input{

  display: inline-block;
  width: 348px;
  height: 38px;
  background-color: #f2f2f2;
}
.count-label{
  display: inline-block;

  width: 230px;
  font-size: 0px;
  text-align: left;
  margin-left: 55px;

}
.count-label:last-child{
  margin-left: 25px;
  width: 192px;
}
.count-label:last-child p{
  width: 30px;
}
.count-label p{
  display: inline-block;

  width: 68px;
  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 40px;
}
.count-label a{
  display: inline-block;

  width: 39px;
  height: 39px;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.count-label a img{

  display: inline-block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}
.count-label .plus img{
  margin-top: 14px;
}
.count-label input{
  display: inline-block;
  outline: 1px solid black;
  width: 39px;
  height: 35px;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  background-color: #f2f2f2;
}
.submit-button{

  display: block;
  width: 458px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 54px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #81b3d2;
}

/*подвал*/

footer .container{

  width: 1200px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

}
.slogan{
  display: inline-block;
  margin-left: 130px;
  margin-top: 52px;
  margin-bottom: 52px;

  font-weight: bold;
}
.social{
  margin-left: 257px;
  vertical-align: middle;

  text-align: center;
}
.social ul{
  list-style: none;
}
.social ul li{
  display: inline-block;
}
.social a{
  display: inline-block;
  background-color: #81b3d2;
  height: 48px;
  width: 46px;
  vertical-align: middle;
  margin: 5px;
}
.copyright{
  width: 210px;

  margin-left: 230px;
  vertical-align: middle;



}
.copyright p{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 90px;


}
.copyright a{
  display: inline-block;
  vertical-align: middle;
  width: 115px;
}
.social-button img{
  margin-top: 15px;
}
.social-button:nth-child(2) img{
  margin-top: 12px;
}


/*стили catalog*/

/*поисковая форма*/
.form-box{
  outline: 1px solid black;
  min-height: 220px;
  width: 1200px;
  display: inline-block;
  background-image: url("../img/SortFormBackgroundImg.png");
}
.hotel-search{
  outline: 1px solid black;
  height: 220px;
  display: flex;
  justify-content:space-between;
}
.hotel-search-checkbox{
  margin-left: 73px;
}
.infrastructure-head{
  padding-left: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
}
.infrastructure{
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 313px;
}

.infrastructure label{
  outline: 1px solid black;
  display: inline-block;
  width: 313px;
  padding-bottom: 25px;
  font-size: 12px;
  color: white;
}
.housetype{
  outline: 1px solid black;
  display: inline-block;
  width: 313px;
  margin-left: -170px;
}
.crawler{
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 220px;
}
.crawler label{
  outline: 1px solid black;
  display: flex;
  height: 110px;
  width: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.crawler label input{
  display: inline-block;
  vertical-align: middle;
}
/*результаты поиска*/

.results{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 540px;
}
.results-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 86px;
  width: 1200px;
  background-color: white;
}
.results-header div{

}
.founded{
  font-size: 21px;
  text-transform: uppercase;
  margin-left: 73px;
  margin-top: 10px;
}
.sorted{
  margin-left: 51px;
  font-size: 12px;
}
.criteries{
  width: 288px;
  font-size: 0px;
}
.criteries a:nth-child(1){
  font-size: 12px;
  display: inline-block;
  width: 88px;
  text-align: right;
  text-decoration: none;
  color: #81b3d2;
}
.criteries a:nth-child(2){
  font-size: 12px;
  display: inline-block;
  width: 100px;
  text-align: center;
  color: gray;
}
.criteries a:nth-child(3){
  font-size: 12px;
  display: inline-block;
  width: 100px;
  text-align: center;
  color: gray;
}
.triangles{
  margin-left: 480px;
  font-size: 0px;
}
.triangles a{
  display: inline-block;
  width: 18px;
  height: 18px;
}
.triangles a:first-child{
  background-image: url("../img/TriangleDownImg.png");
  background-repeat: no-repeat;
  background-position: 45% 60%;
}
.triangles a:last-child{
  background-image: url("../img/TriangleUpImg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.result-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 453px;
  width: 1200px;
}
.results-item{
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 151px;
  width: 1200px;
  background-color: white;
  border-bottom: 2px solid #f2f2f2;

}
.results-item div{
  display: inline-block;
}
.results-item img{
  display: inline-block;
  height: 90px;
  width: 135px;
  margin-left: 73px;
  margin-top: 31px;

}
.results-item-resume{
  position: relative;
  top: -12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 290px;
  margin-left: 24px;
  padding-top:5px;
  margin-top: -5px;
}
.results-item-header{
  
  display: inline-block;
  width: 100%;
}
.results-item-header h2{
  color: black;
  font-size: 15px;
}

.results-item-price{
  margin-left: 40px;
  color: gray;
  font-size: 11px;
}
.results-item-type{
  color: gray;
  font-size: 11px;
}
.results-item-buttons{
  margin-top: 18px;
  width: 100%;
  font-size: 0px;
}
.viewmore{

  display: inline-block;
  font-size: 10px;
  vertical-align: middle;
  padding: 8px 20px;
  margin-right: 8px;
  background-color: #81b3d2;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.armore{

  display: inline-block;
  font-size: 10px;
  vertical-align: middle;
  padding: 8px 20px;
  background-color: #766357;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.results-item-marks{
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 522px;
  width: 112px;
  text-align: right;
}
.results-item-stars{
  margin-top: 28px;
  font-size: 0px;
}
.star{
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/4StarsImg.png");
  background-repeat: no-repeat;
}
.results-item-raiting{
  margin-top: 47px;
  width: 110px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
  text-align: center;
  background-color: #f2f2f2;

}
